body
{
    background-image: url(tlo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 0px;
}

#container
{
    height: 605px;
    width: 1280px;
    margin-right: 0px;
    margin-left: 0px;
}


.kwadraty
{
    margin-top: 20px;
    display: inline-block;
    margin-left: 30px;
}

#napis
{
    font-size: 60px;
    text-align: center;
    display: block;
}

#tile1, #tile2, #tile3, #tile4, #tile5, #tile6, #tile7, #tile8, #tile9
{
    height: 100px;
    width: 100px;
    background-color: aqua;
    float: left;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}
#tile1:hover, #tile2:hover, #tile3:hover, #tile4:hover, #tile5:hover, #tile6:hover, #tile7:hover, #tile8:hover, #tile9:hover
{
    background-color: #04c0c0;
}

#tile1:active, #tile2:active, #tile3:active, #tile4:active, #tile5:active, #tile6:active, #tile7:active, #tile8:active, #tile9:active
{
    color: coral;
}

img
{
    display: flex;
    display: inline-block;
    height: 605px;
    width: 1280px;
    margin-bottom: 0px;
}

.triangle
{
	width: 0;
	height: 0;
	border-width: 50px 200px 50px 0;
	border-color: transparent #FF0000 transparent transparent;
	border-style: solid;
    position: absolute;
}

#chujos
{
    height: 40px;
    width: 55px;
    position: absolute;
    margin-left: 1172px;
    margin-top: 340px;
}

